@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
    --border-color: hsl(210, 90%, 50%);
}

body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.margin_top {
    margin-top: 50px;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.cancel_btn,
.save_btn,
.edit_btn2 {
    visibility: hidden;
}

/*--------------------------------------------- TEXTBOX -------------------------------------------*/

.hidden_text {
    visibility: hidden;
    width: 50%;
    padding: 2px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.hidden_text:focus {
    border-top: 0px;
    border-left: 0px;
    border-right: none;
}

/*--------------------------------------------- TEXTBOX -------------------------------------------*/

.rounded-circle {
    width: 150px;
}

/*--------------------------------------- IMAGE -------------------------------------------*/
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: auto;
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

        .avatar-upload .avatar-edit .file_input {
            display: none;
        }

            .avatar-upload .avatar-edit .file_input + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
                cursor: none;
                font-weight: normal;
                transition: all .2s ease-in-out;
            }

                .avatar-upload .avatar-edit .file_input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit .file_input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }

    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    }

        .avatar-upload .avatar-preview .image_preview {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }