<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <script src="https://cdn.jsdelivr.net/npm/kursor@0.0.14/dist/kursor.js"></script>
</head>
<body>
    
<script>
    new kursor({
        type: 1,
        removeDefaultCursor: true, 
        color: '#000', 
    })
</script>
</body>
</html>
