@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Side_nav.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Privacy</h1>
    <p>Learn about <a asp-action="Main">building Web apps with ASP.NET Core</a>.</p>
</div>